<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index title</title>
</head>
<body>
    <div class="d-flex justify-content-center">
        <div class="card bg-info col-10" style="height: 90px;">
            <div class="card-body">
                <p class="fs-1 text-center"><b>兼職網 PART-TIME 搜尋. 分享. 一起工作</b></p>
            </div>
        </div>
    </div>
</body>
</html>